<div class="btm-nav md:hidden z-40 bg-white/95 border-t border-sky-100">
    <a href="/" class="active">
        <i class="fa-solid fa-house text-lg"></i>
        <span class="btm-nav-label text-[11px]">Home</span>
    </a>
    <a href="/absensi">
        <i class="fa-regular fa-clock text-lg"></i>
        <span class="btm-nav-label text-[11px]">Absensi</span>
    </a>
    <a href="/rekam">
        <i class="fa-solid fa-camera text-lg"></i>
        <span class="btm-nav-label text-[11px]">Rekam</span>
    </a>
    <a href="/karyawan">
        <i class="fa-solid fa-users text-lg"></i>
        <span class="btm-nav-label text-[11px]">Karyawan</span>
    </a>
</div>