<div class="drawer-side z-40">
    <label for="drawer-menu" class="drawer-overlay"></label>
    <aside class="menu p-4 w-72 min-h-full bg-white border-r border-sky-100">

        <h2 class="text-base font-semibold mb-4 text-slate-700">Navigasi</h2>

        <ul class="menu text-sm text-slate-700">
            <li><a href="/"><i class="fa-solid fa-house mr-2"></i>Dashboard</a></li>
            <li><a href="/absensi"><i class="fa-regular fa-clock mr-2"></i>Absensi</a></li>
            <li><a href="/rekam"><i class="fa-solid fa-camera mr-2"></i>Rekam Wajah</a></li>
            <li><a href="/test"><i class="fa-solid fa-vial-circle-check mr-2"></i>Test Wajah</a></li>
            <li><a href="/karyawan"><i class="fa-solid fa-users mr-2"></i>Data Karyawan</a></li>
            <li><a href="/cuti"><i class="fa-solid fa-umbrella-beach mr-2"></i>Cuti</a></li>
            <li><a href="/ijin"><i class="fa-solid fa-file-signature mr-2"></i>Ijin</a></li>
            <li><a href="/laporan"><i class="fa-solid fa-chart-line mr-2"></i>Laporan</a></li>
            <li><a href="/about"><i class="fa-solid fa-circle-info mr-2"></i>About</a></li>
        </ul>
    </aside>
</div>