<div class="navbar bg-white/80 backdrop-blur sticky top-0 z-30 shadow-sm border-b border-sky-100">
    <div class="flex-none lg:hidden">
        <label for="drawer-menu" class="btn btn-ghost btn-sm">
            <i class="fa-solid fa-bars text-lg"></i>
        </label>
    </div>

    <div class="flex-1">
        <a href="/" class="font-bold text-lg text-sky-700">
            <%= APP_NAME %>
        </a>
    </div>

    <div class="flex-none hidden lg:flex">
        <a href="/about" class="btn btn-ghost">
            <i class="fa-solid fa-circle-info mr-1"></i> About
        </a>
    </div>
</div>