<!DOCTYPE html>
<html lang="id">

<head>
    <%- include('partials/head') %>
</head>

<body class="min-h-screen bg-gradient-to-b from-sky-50 via-white to-sky-100 font-[Inter]">

    <main class="min-h-screen flex items-center justify-center p-4">
        <%- body %>
    </main>

    <!-- Footer tetap boleh tampil, kalau mau dihilangkan tinggal hapus baris ini -->
    <%- include('partials/footer') %>
</body>

</html>