<% layout('layout') -%>
    <div class="grid grid-cols-2 gap-3 sm:grid-cols-3 md:grid-cols-4">
        <a href="/absensi" class="card bg-base-100 shadow hover:shadow-md">
            <div class="card-body items-center text-center">
                <h2 class="card-title">Absensi</h2>
            </div>
        </a>
        <a href="/karyawan" class="card bg-base-100 shadow hover:shadow-md">
            <div class="card-body items-center text-center">
                <h2 class="card-title">Data Karyawan</h2>
            </div>
        </a>
        <a href="/rekam" class="card bg-base-100 shadow hover:shadow-md">
            <div class="card-body items-center text-center">
                <h2 class="card-title">Rekam Wajah</h2>
            </div>
        </a>
        <a href="/test" class="card bg-base-100 shadow hover:shadow-md">
            <div class="card-body items-center text-center">
                <h2 class="card-title">Test Wajah</h2>
            </div>
        </a>
        <a href="/cuti" class="card bg-base-100 shadow hover:shadow-md">
            <div class="card-body items-center text-center">
                <h2 class="card-title">Cuti</h2>
            </div>
        </a>
        <a href="/ijin" class="card bg-base-100 shadow hover:shadow-md">
            <div class="card-body items-center text-center">
                <h2 class="card-title">Ijin</h2>
            </div>
        </a>
        <a href="/laporan" class="card bg-base-100 shadow hover:shadow-md">
            <div class="card-body items-center text-center">
                <h2 class="card-title">Laporan</h2>
            </div>
        </a>
        <a href="/about" class="card bg-base-100 shadow hover:shadow-md">
            <div class="card-body items-center text-center">
                <h2 class="card-title">About</h2>
            </div>
        </a>
    </div>