<!DOCTYPE html>
<html lang="id">

<head>
    <%- include('partials/head') %>
</head>

<body class="min-h-screen bg-base-200 font-[Inter]">
    <%- include('partials/nav') %>
        <main class="p-3 sm:p-6">
            <%- body %>
        </main>
</body>

</html>